.section {
    height: 50vh;
}

.mad-biscotte {
    position: relative;
    top:50px;
    right:40px;
}

.standard-section {
    background-color: #a3b18a;
}

section {
    padding:20px;
}

.main-section {
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#help-section {
    display: flex;
    gap:40px;
}

.help-text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    align-items: center;
    width: 40%;
    text-align: center;
}

#placeholder-image {
    max-width: 30%;
    justify-self: flex-end;
}

#generate-image-btn {
    background: linear-gradient(#ffd97d, #ff9b85);
    color: black;
    border-radius: 50px;
    padding: 15px 20px;
    width: 200px;
    font-size: larger;
    cursor: pointer;
}

#generate-image-btn:disabled {
    background: gray;
}

#link-section {
    margin:40px auto 20px auto;
    width: fit-content;
}

.links-card {
    display:grid;
    grid-template-columns: 30% 30% 30%;
    font-size:2em;
    margin-top:20px;
    padding:40px;
    gap:20px;
}

.links-card a {
    text-decoration: none;
}

#audio-section img {
    width: 5%;
}

#audio-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rotating {
    animation: rotate 1.5s linear infinite; 
}

@keyframes rotate{
    to{ transform: rotate(360deg); }
  }