/* general styles */
.standard-section {
    padding:25px;
}

#link-section, #audio-section, #help-section {
    background-color: var(--main-color);
}

.standard-flex, .standard-flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.standard-flex-column {
    flex-direction: column;
}

/* intro section */
#intro-section {
    height: 7vh;
}

.mad-biscotte {
    position: relative;
    top:68%;
}

/* help section with cat images */
.help-text {
    flex-direction: column;
    gap:20px;
    width: 40%;
    text-align: center;
}

#result-image {
    max-height: 40vh;
    max-width: 40vw;
    justify-self: flex-end;
}

#fetch-image {
    background: #ffd97d;
    color: black;
    border-radius: 50px;
    padding: 15px 20px;
    width: 140px;
    font-size: 1.2em;
}

#fetch-image:hover {
    background: linear-gradient(90deg, #ffd97d, #ff9b85);
}

#fetch-image:disabled {
    border:none;
    background: gray;
}

/* link section with links */
#link-section {
    margin:40px auto 40px auto;
    width: fit-content;
}

.links-card {
    width: 80%;
    display:grid;
    grid-template-columns: 30% 30% 30%;
    font-size:2em;
    gap:20px;
}

.links-card a {
    text-decoration: none;
}

.links-card a:hover {
    transform: scale(1.5);
}

.rotating {
    animation: rotate 1.5s linear infinite; 
}

@keyframes rotate{
    to{ transform: rotate(360deg); }
}

@media (max-width: 770px) {
    #help-section {
        justify-content: space-between;
    }
}