body {
    font-family: 'Roboto', sans-serif;
    z-index: -1;
    margin: 0;
}

header, footer {
    width: 100%;
    position: fixed;
    background-color: #344e41;
}

header {
    z-index: 10;
}

footer {
    bottom:0;
    text-align: center;
}

nav {
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:30px;
    top: 0px;
}

a {
    color:white;
}

.content-padding {
    padding:20px;
}

#mad-kitty-image {
    height: 70px;
    position: fixed;
    left:10px;
    bottom: 0px;
    z-index: 5;
}

#mad-kitty-image:hover {
    height: 80px;
}