@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --main-color:#a3b18a;
    --second-color:#344e41;
    --border-color:white;
    --main-text-color:white;
}

body {
    font-family: 'Roboto', sans-serif;
    margin:0;
}

header, footer {
    background-color: var(--second-color);
    width: 100%;
    color:var(--main-text-color);
}

header {
    position: sticky;
    top:0;
    z-index: 10;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:30px;
    top: 0px;
}

a {
    color:var(--main-text-color);
}

.standard-card {
    border-radius: 5px;
    padding:40px;
    background-color: var(--main-color);
    text-align: center;
}

@media (max-width: 760px) {
    h2 { 
        font-size: 1.2em; 
    }

    p, a, li {
        font-size:0.9em; 
    }
    
    #help-section {
        justify-content: space-between;
    }
}
