body {
    background-color: var(--main-color);
}

.team {
    margin:0 auto 0 auto;
    width: 55vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.member {
    display:flex;
    align-items: center;
    border:3px solid var(--border-color);
    gap:20px;
    background-color: var(--main-color);
    padding:5px 20px 5px 20px;
}

.member img {
    width: 25%;
}

.member .description {
    text-align: justify;
    width: 100%;
    overflow-wrap: break-word;
}

footer {
    position: fixed;
    bottom:0;
}